body{
    background-color: #e0e0e0;
    color: #f30000;
    border-top-style:dashed ;
    border-bottom-style:dashed ;
}
p{

    color: #140101;
   
}
h1{
    color: #140101;
    border-top-style:dashed ;
}
h2{
    color: #140101;
}
h3{
    color: #140101;
    
}
