body{
    background-color: #474646;

}
p{

    color: #ffffff;
   
}
h1{
    color: #ffffff;
    border: #6e9fa1 solid 7px;
    border-right-width: 100px;
    box-sizing: border-box 20px 20px;
    
 
}
h2{
    color: #ffffff;
    
}
h3{
    color: #ffffff;
    
}
img{
   width: 400px;
   height: 400px;
   border: #6e9fa1 solid 15px;
   border-radius: 20px;
}

